@import "../styles/header.css";
@import "../styles/interiors.css";
@import "../styles/projects.css";
@import "../styles/services.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #121212;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

section{
    margin-bottom: 150px;
}

.interiors__text, 
.about__btn, 
.projects__btn:hover,
.services__title,
.services__text,
.apartment-project__text,
.footer__nav-menu a,
.footer__info{
    color: #FFF;
}

h1{
    width: 956px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
}

h2{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.54px;
}

h1,
h2{
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    
    .container{
        max-width: 100%;
    }
    section{
        margin-bottom: 120px;
    }

    h1{
        width: 100%;
        font-size: 50px;
        letter-spacing: -1.5px;
    }
    
}

@media (max-width: 768px) {
    section{
        margin-bottom: 100px;
    }

    h1{
        font-size: 40px;
        line-height: 50px;
    }
     
    
}

@media (max-width: 480px) {

    section{
        margin-bottom: 80px;
    }
    h1{
        font-size: 30px;
        line-height: 31.621px;
        letter-spacing: -0.9px;
        margin-bottom: 25px;
    }
    h2{
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.42px;
        margin-bottom: 20px;
    }   
    
}
