body{
    width: 1400px;
    background-color: #FFF;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.content{
    width: 1150px;
    margin: 0 auto;
}

h1, 
h2, 
.about__description, 
.project__details {
    color: #121212;    
}

.interiors{
    height: 650px;
    margin-bottom: 150px;
}

h1{
    width: 956px;
    margin-top: 128px;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
}

.interiors__item{
    position: relative;
    height: 500px;
    background-image: url(../resources/interiors.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.interiors__text{
    position: absolute;
    width: 430px;
    height: 81px;
    left: 40px;
    bottom: 40px;
    color: #FFF;
    font-size: 20px;
    letter-spacing: -0.6px;
}

/*-----О НАС-----*/

.about{
    width: 1051px;
    height: 518px;
    margin-bottom: 150px;
}

h2{
    height: 25px;
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.about__description{
    width: 1048px;
    height: 366px;
    padding-left: 3px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -1.35px;
}

.about__btn{
    display: inline-flex;
    width: 255px;
    height: 67px;
    padding: 20px 40px;
    align-items: flex-start;
    border-radius: 5px;
    gap: 10px;
    background-color: #AD1818;
    color: #FFF;
    font-size: 20px;
    letter-spacing: -0.6px;
    border: none;
    cursor: pointer;
}

/*-----проекты-----*/

.projects{
    margin-bottom: 150px;
    background: #FFF;
    list-style: none;
}

.project{
    margin-bottom: 90px;
}

.project__img{
    margin-bottom: 15px;
}

.project__details{
    height: 41px;
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: -0.9px;
}

.project__info{
    display: block;
    width: 127px;
    height: 27px;
    color: #AD1818;
    font-size: 20px;
    letter-spacing: -0.6px;
    text-decoration: none;
}

.projects-btn {
    width: 100%;
    height: 153px;
    padding: 0;
    border: 1px solid #AD1818;
    border-radius: 5px;
    cursor: pointer;
    color: #AD1818;
    text-align: center;
    font-family: Manrope;
    font-size: 30px;
    letter-spacing: -0.9px;
    transition: all 0.5s;
}

.projects-btn:hover {
    background: #AD1818;
    color: #FFF;
}

/*-----Услуги-----*/

.services{
    width: 1400px;
    margin-left: -125px;
    padding-top: 151px;
    padding-bottom: 150px;
    background-color: #121212;
}

.services__heading{
    margin-left: 127px;
    margin-bottom: 34px;
    color: #FFF;
}

.service-item{
    margin-left: 125px;
    margin-bottom: 60px;
}

.service-item:nth-last-child(1){
    margin-bottom: 0;
    padding-left: 2px;
}

.service-item:nth-last-child(2){
    padding-left: 2px;
}

.service-item:nth-last-child(3){
    padding-left: 1px;
}

.service-item__img{
    margin-bottom: 15px;
}

.service-item__text{
    padding-left: 3px;
    color: #FFF;
    font-size: 30px;
    letter-spacing: -0.9px;
}
