html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #121212;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    margin: 33px 15px 70px;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu__link{
    display: inline-block;
    margin-left: 57px;
}

.nav-menu__link a,
.contacts__tel,
.contacts__mail{
    color: #121212;
    text-decoration: none;
}

.nav-menu__link a:hover{
    text-decoration: 2px underline;
    opacity: 0.5;
}

section{
    margin-bottom: 150px;
}

.interiors__text, 
.about__btn, 
.projects__btn:hover,
.services__title,
.services__text,
.apartment-project__text,
.footer__nav-menu a,
.footer__info{
    color: #FFF;
}

.nav-menu__link,
h2{
    font-size: 18px;
    line-height: 25px;
}

.interiors__text,
.about__btn,
.footer__info{
    font-size: 20px;
    line-height: 27px;
}

h1,
.contacts__tel p,
.contacts__mail p{
    font-size: 60px;
    line-height: 60px;
}

h1,
h2,
.about__description,
.contacts__tel p{
    margin-bottom: 30px;
}

h2,
.footer__info,
.nav-menu__link{
    letter-spacing: -0.54px;
}

h1{
    width: 956px;
    letter-spacing: -1.8px;
}

.interiors__item{
    position: relative;
    height: 500px;
    background-image: url(../resources/interiors.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.interiors__text{
    position: absolute;
    width: 430px;
    left: 40px;
    bottom: 40px;
    letter-spacing: -0.6px;
}

.about__description{
    width: 1048px;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -1.3px;
}

.about__btn{
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #AD1818;
    font-family: Manrope;
    font-weight: 400;
    letter-spacing: -0.6px;
    border: none;
    cursor: pointer;
    color: #FFF;
}

.projects__project{
    margin-bottom: 90px;
}

.project__img,
.services__img{
    width: 100%;
    margin-bottom: 15px;
}

.project__details{
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.9px;
}

.project__info{
    color: #AD1818;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.6px;
    text-decoration: none;
}

.projects__btn {
    display: flex;
    padding: 56px 0;
    border: 1px solid #AD1818;
    border-radius: 5px;
    cursor: pointer;
    color: #AD1818;
    justify-content: center;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.9px;
    transition: all 0.5s;
    text-decoration: none;
}

.projects__btn:hover {
    background: #AD1818;
}

.services{
    background-color: #121212;
    padding: 150px 0 ;
    margin-bottom: 0;
}

.services__title{
    margin-bottom: 34px;
    letter-spacing: -0.04px;
}

.services__item{
    margin-bottom: 60px;
}

.services__item:nth-last-child(1){
    margin-bottom: 0; 
}

.services__text,
.apartment-project__text{
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.75px;
}

.apartment-project{
    background-image: url(../resources/bedroom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.apartment-project__wrapper{
    position: relative;
    height: 717px;
    margin-bottom: 186px;
}

.apartment-project__text{
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 443px;
}

.contacts{
    margin-bottom: 163px;
}

.contacts__title{
    position: relative;
}

.contacts__title::before{
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    top: -37px;
    left: -4px;
    background-image: url(../resources/phone_ico.png);
}

.contacts__tel p{
    letter-spacing: -1px;
}

.contacts__mail p{
    display: inline-block;
    padding-bottom: 10px;
    letter-spacing: -1.7px;
    border-bottom: 2px solid black;
}

.contacts__tel p:hover,
.contacts__mail p:hover{
    opacity: 0.5;
}

footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #121212; 
}

.footer__nav-menu{
    margin-bottom: 87px;
    text-align: center;
}

.footer__nav-menu .nav-menu__link{
    margin: 0 26px;
}

.footer__nav-menu a:hover{
    text-decoration: none;
}

.footer__info{
    text-align: center;
    opacity: 0.5;
}
